@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color: #0f172a;
    background-color: #020617;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    margin: 0;
    min-height: 100vh;
    font-family: theme('fontFamily.sans');
    background-color: #0f172a;
  }
}
